body {
    text-align: center;
    background-color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    background-color: #000;
    border: 5px solid #ddd;
    -moz-box-shadow:    inset 0 0 20px #fff;
    -webkit-box-shadow: inset 0 0 20px #fff;
    box-shadow:         inset 0 0 20px #fff;
}

.field {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu {
    margin-top: 18%
}

.selector {
    display: inline;
    background: transparent;
    border: none;
    margin: 10px;
    height: 100px;
    width: 100px;
    cursor: pointer;
}


#returnButton {
    background-image: url('Images/return.png');
}

#resetButton {
    background-image: url('Images/reset.png');
}

#fwdButton {
    background-image: url('Images/fwd.png');
}

#bwdButton {
    background-image: url('Images/bwd.png');
}

.menu>div {
    margin: 20px;
    width: 500px;
    padding: 10px;
    font-family: Reckoner Bold;
    font-size: 64px;
    border: 5px solid #000;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 48px -25px rgba(0,0,0,0.92);
    -moz-box-shadow: 0px 0px 48px -25px rgba(0,0,0,0.92);
    box-shadow: 0px 0px 48px -25px rgba(0,0,0,0.92);
}
.menu>div:hover {
    background-color: #eee;
}

.clicked {
    background-color: #eee;
}

.menu>div, .menu>div>label {
    cursor: pointer;
}

.score {
    position: absolute;
    height: 100px;
    line-height: 125px;
    padding: 0;
    text-align:center;
    vertical-align:middle;
    margin-left: 30px;
    font-family: Reckoner Bold;
    font-size: 64px;
}